In [51]:
import pandas as pd
import statistics as stat
import numpy as np
import json as js
import os

In [3]:
ruta = '/Users/usuario/Desktop/Luis/Ts/Base de datos'#Pongan la carpeta donde este su base de datos 
l_arch = os.listdir(ruta)
l_arch

['2018_Yellow_Taxi_Trip_Data.csv', 'catalogo.json']

In [4]:
catalogos = js.load(open(os.path.join(ruta,l_arch[-1]),'rb'))

In [5]:
catalogos.keys()

dict_keys(['VendorID', 'RatecodeID', 'store_and_fwd_flag', 'payment_type'])

In [102]:
df_muestra= pd.read_csv(os.path.join(ruta, l_arch[0]),nrows=3000000)

In [68]:
df_muestra.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,09/22/2018 11:46:37 PM,09/23/2018 12:07:10 AM,1,8.00,1,N,230,244,2,25.5,0.5,0.5,0.00,0.0,0.3,26.80
1,2,09/22/2018 11:00:43 PM,09/22/2018 11:09:36 PM,1,1.70,1,N,141,163,1,8.5,0.5,0.5,1.96,0.0,0.3,11.76
2,2,09/22/2018 11:10:32 PM,09/22/2018 11:25:50 PM,2,3.84,1,N,163,166,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30
3,2,09/22/2018 11:27:25 PM,09/22/2018 11:36:29 PM,2,1.80,1,N,166,75,2,8.5,0.5,0.5,0.00,0.0,0.3,9.80
4,2,09/22/2018 11:50:39 PM,09/23/2018 12:01:52 AM,2,2.43,1,N,229,79,1,10.0,0.5,0.5,2.00,0.0,0.3,13.30

In [8]:
df_muestra['store_and_fwd_flag'].dtype

dtype('O')

In [104]:
l_cat = [(x,pd.DataFrame.from_dict(catalogos[x],
                                   orient='index',
                                   columns=["x_%s"%x]).reset_index().rename(columns={'index':x})) for x in catalogos.keys()]

In [8]:
l_cat

[('VendorID',
    VendorID                    x_VendorID
  0        1  Creative Mobile Technologies
  1        2                  VeriFone Inc),
 ('RatecodeID',
    RatecodeID           x_RatecodeID
  0          1          Standard rate
  1          2                    JFK
  2          3                 Newark
  3          4  Nassau or Westchester
  4          5        Negotiated fare
  5          6             Group ride),
 ('store_and_fwd_flag',
    store_and_fwd_flag          x_store_and_fwd_flag
  0                  Y        store and forward trip
  1                  N  not a store and forward trip),
 ('payment_type',
    payment_type x_payment_type
  0            1    Credit card
  1            2           Cash
  2            3      No charge
  3            4        Dispute
  4            5        Unknown
  5            6    Voided trip)]

In [105]:
for key,cat in l_cat:
    print(key)
    df_muestra[key] = df_muestra[key].fillna(9999).astype('S')
    cat[key] = cat[key].astype('S')
    df_muestra = df_muestra.merge(cat,on=key ,how='left').drop(key,axis=1).rename(columns={'x_%s'%key:key})

VendorID
RatecodeID
store_and_fwd_flag
payment_type

In [106]:
df_muestra

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,VendorID,RatecodeID,store_and_fwd_flag,payment_type
0,09/22/2018 11:46:37 PM,09/23/2018 12:07:10 AM,1,8.00,230,244,25.5,0.5,0.5,0.00,0.0,0.3,26.80,VeriFone Inc,Standard rate,not a store and forward trip,Cash
1,09/22/2018 11:00:43 PM,09/22/2018 11:09:36 PM,1,1.70,141,163,8.5,0.5,0.5,1.96,0.0,0.3,11.76,VeriFone Inc,Standard rate,not a store and forward trip,Credit card
2,09/22/2018 11:10:32 PM,09/22/2018 11:25:50 PM,2,3.84,163,166,14.0,0.5,0.5,0.00,0.0,0.3,15.30,VeriFone Inc,Standard rate,not a store and forward trip,Cash
3,09/22/2018 11:27:25 PM,09/22/2018 11:36:29 PM,2,1.80,166,75,8.5,0.5,0.5,0.00,0.0,0.3,9.80,VeriFone Inc,Standard rate,not a store and forward trip,Cash
4,09/22/2018 11:50:39 PM,09/23/2018 12:01:52 AM,2,2.43,229,79,10.0,0.5,0.5,2.00,0.0,0.3,13.30,VeriFone Inc,Standard rate,not a store and forward trip,Credit card
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,10/04/2018 07:51:36 AM,10/04/2018 08:09:14 AM,1,3.40,234,13,14.5,0.0,0.5,3.05,0.0,0.3,18.35,Creative Mobile Technologies,Standard rate,not a store and forward trip,Credit card
2999996,10/04/2018 07:18:49 AM,10/04/2018 07:34:10 AM,1,0.98,100,68,10.5,0.0,0.5,2.63,0.0,0.3,13.93,VeriFone Inc,Standard rate,not a store and forward trip,Credit card
2999997,10/04/2018 07:51:28 AM,10/04/2018 08:15:12 AM,1,3.00,100,43,16.0,0.0,0.5,3.20,0.0,0.3,20.00,VeriFone Inc,Standard rate,not a store and forward trip,Credit card
2999998,10/04/2018 07:25:36 AM,10/04/2018 07:31:16 AM,5,0.94,140,140,5.5,0.0,0.5,1.26,0.0,0.3,7.56,VeriFone Inc,Standard rate,not a store and forward trip,Credit card
2999999,10/04/2018 07:39:32 AM,10/04/2018 07:40:25 AM,5,0.26,262,263,3.0,0.0,0.5,0.00,0.0,0.3,3.80,VeriFone Inc,Standard rate,not a store and forward trip,Cash

In [71]:
aux_idloc=df_muestra[['PULocationID']].copy().assign(n=1)

In [72]:
aux_idloc.drop_duplicates().groupby('PULocationID').count()

              n
PULocationID
1             1
2             1
3             1
4             1
5             1
...          ..
261           1
262           1
263           1
264           1
265           1

[262 rows x 1 columns]

In [44]:
df_muestra[['passenger_count']].groupby('passenger_count').count()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
df_muestra[['total_amount']].min()

total_amount   -800.3
dtype: float64

In [76]:
stat.mode([x for x in df_muestra['passenger_count']])

1

In [49]:
df_muestra[df_muestra['total_amount']<0]

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,VendorID,RatecodeID,store_and_fwd_flag,payment_type
4751,09/22/2018 11:17:24 PM,09/22/2018 11:17:36 PM,3,0.06,68,68,-2.5,-0.5,-0.5,0.0,0.0,-0.3,-3.8,VeriFone Inc,Standard rate,not a store and forward trip,No charge
6525,09/22/2018 11:32:08 PM,09/22/2018 11:37:26 PM,1,0.71,100,230,-5.5,-0.5,-0.5,0.0,0.0,-0.3,-6.8,VeriFone Inc,Standard rate,not a store and forward trip,No charge
9042,09/23/2018 12:58:35 AM,09/23/2018 12:59:44 AM,1,0.02,79,79,-3.0,-0.5,-0.5,0.0,0.0,-0.3,-4.3,VeriFone Inc,Standard rate,not a store and forward trip,No charge
10968,09/23/2018 12:50:40 AM,09/23/2018 12:56:14 AM,1,0.57,114,90,-5.5,-0.5,-0.5,0.0,0.0,-0.3,-6.8,VeriFone Inc,Standard rate,not a store and forward trip,Dispute
11931,09/23/2018 12:29:41 AM,09/23/2018 12:34:08 AM,1,0.29,48,230,-4.5,-0.5,-0.5,0.0,0.0,-0.3,-5.8,VeriFone Inc,Standard rate,not a store and forward trip,Dispute
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996286,09/26/2018 11:55:18 PM,09/26/2018 11:55:31 PM,2,0.00,186,186,-2.5,-0.5,-0.5,0.0,0.0,-0.3,-3.8,VeriFone Inc,Standard rate,not a store and forward trip,No charge
996288,09/26/2018 11:56:25 PM,09/27/2018 12:00:12 AM,1,0.00,186,186,-17.0,0.0,0.0,0.0,0.0,-0.3,-17.3,VeriFone Inc,Negotiated fare,not a store and forward trip,No charge
996857,09/26/2018 11:09:43 PM,09/26/2018 11:27:34 PM,1,5.40,100,87,-19.0,-0.5,-0.5,0.0,0.0,-0.3,-20.3,VeriFone Inc,Standard rate,not a store and forward trip,Cash
997252,09/26/2018 11:34:16 PM,09/26/2018 11:39:54 PM,2,0.03,234,234,-5.0,-0.5,-0.5,0.0,0.0,-0.3,-6.3,VeriFone Inc,Standard rate,not a store and forward trip,No charge
999461,09/26/2018 11:47:31 PM,09/26/2018 11:57:38 PM,1,0.90,211,113,-8.0,-0.5,-0.5,0.0,0.0,-0.3,-9.3,VeriFone Inc,Standard rate,not a store and forward trip,Cash

In [107]:
PULocationID=pd.read_csv('taxi+_zone_lookup.csv')

In [108]:
PULocationID.columns=['PULocationID','PUBorough', 'PUZone', 'PUservice_zone']

In [88]:
PULocationID

     PULocationID      PUBorough                   PUZone PUservice_zone
0               1            EWR           Newark Airport            EWR
1               2         Queens              Jamaica Bay      Boro Zone
2               3          Bronx  Allerton/Pelham Gardens      Boro Zone
3               4      Manhattan            Alphabet City    Yellow Zone
4               5  Staten Island            Arden Heights      Boro Zone
..            ...            ...                      ...            ...
260           261      Manhattan       World Trade Center    Yellow Zone
261           262      Manhattan           Yorkville East    Yellow Zone
262           263      Manhattan           Yorkville West    Yellow Zone
263           264        Unknown                       NV            NaN
264           265        Unknown                      NaN            NaN

[265 rows x 4 columns]

In [109]:
DOLocationID=pd.read_csv('taxi+_zone_lookup.csv')

In [110]:
DOLocationID.columns=['DOLocationID','DOBorough', 'DOZone', 'DOservice_zone']

In [99]:
DOLocationID

     DOLocationID      DOBorough                   DOZone DOservice_zone
0               1            EWR           Newark Airport            EWR
1               2         Queens              Jamaica Bay      Boro Zone
2               3          Bronx  Allerton/Pelham Gardens      Boro Zone
3               4      Manhattan            Alphabet City    Yellow Zone
4               5  Staten Island            Arden Heights      Boro Zone
..            ...            ...                      ...            ...
260           261      Manhattan       World Trade Center    Yellow Zone
261           262      Manhattan           Yorkville East    Yellow Zone
262           263      Manhattan           Yorkville West    Yellow Zone
263           264        Unknown                       NV            NaN
264           265        Unknown                      NaN            NaN

[265 rows x 4 columns]

In [111]:
l_catzon=[('PULocationID',PULocationID),('DOLocationID',DOLocationID)]
l_catzon

[('PULocationID',
       PULocationID      PUBorough                   PUZone PUservice_zone
  0               1            EWR           Newark Airport            EWR
  1               2         Queens              Jamaica Bay      Boro Zone
  2               3          Bronx  Allerton/Pelham Gardens      Boro Zone
  3               4      Manhattan            Alphabet City    Yellow Zone
  4               5  Staten Island            Arden Heights      Boro Zone
  ..            ...            ...                      ...            ...
  260           261      Manhattan       World Trade Center    Yellow Zone
  261           262      Manhattan           Yorkville East    Yellow Zone
  262           263      Manhattan           Yorkville West    Yellow Zone
  263           264        Unknown                       NV            NaN
  264           265        Unknown                      NaN            NaN

  [265 rows x 4 columns]),
 ('DOLocationID',
       DOLocationID      DOBorough                   DOZone DOservice_zone
  0               1            EWR           Newark Airport            EWR
  1               2         Queens              Jamaica Bay      Boro Zone
  2               3          Bronx  Allerton/Pelham Gardens      Boro Zone
  3               4      Manhattan            Alphabet City    Yellow Zone
  4               5  Staten Island            Arden Heights      Boro Zone
  ..            ...            ...                      ...            ...
  260           261      Manhattan       World Trade Center    Yellow Zone
  261           262      Manhattan           Yorkville East    Yellow Zone
  262           263      Manhattan           Yorkville West    Yellow Zone
  263           264        Unknown                       NV            NaN
  264           265        Unknown                      NaN            NaN

  [265 rows x 4 columns])]

In [112]:
for key,cat in l_catzon:
    print(key)
    df_muestra[key] = df_muestra[key].fillna(9999).astype('S')
    cat[key] = cat[key].astype('S')
    df_muestra = df_muestra.merge(cat,on=key ,how='left').drop(key,axis=1).rename(columns={'x_%s'%key:key})

PULocationID
DOLocationID

In [113]:
df_muestra

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,...,VendorID,RatecodeID,store_and_fwd_flag,payment_type,PUBorough,PUZone,PUservice_zone,DOBorough,DOZone,DOservice_zone
0,09/22/2018 11:46:37 PM,09/23/2018 12:07:10 AM,1,8.00,25.5,0.5,0.5,0.00,0.0,0.3,...,VeriFone Inc,Standard rate,not a store and forward trip,Cash,Manhattan,Times Sq/Theatre District,Yellow Zone,Manhattan,Washington Heights South,Boro Zone
1,09/22/2018 11:00:43 PM,09/22/2018 11:09:36 PM,1,1.70,8.5,0.5,0.5,1.96,0.0,0.3,...,VeriFone Inc,Standard rate,not a store and forward trip,Credit card,Manhattan,Lenox Hill West,Yellow Zone,Manhattan,Midtown North,Yellow Zone
2,09/22/2018 11:10:32 PM,09/22/2018 11:25:50 PM,2,3.84,14.0,0.5,0.5,0.00,0.0,0.3,...,VeriFone Inc,Standard rate,not a store and forward trip,Cash,Manhattan,Midtown North,Yellow Zone,Manhattan,Morningside Heights,Boro Zone
3,09/22/2018 11:27:25 PM,09/22/2018 11:36:29 PM,2,1.80,8.5,0.5,0.5,0.00,0.0,0.3,...,VeriFone Inc,Standard rate,not a store and forward trip,Cash,Manhattan,Morningside Heights,Boro Zone,Manhattan,East Harlem South,Boro Zone
4,09/22/2018 11:50:39 PM,09/23/2018 12:01:52 AM,2,2.43,10.0,0.5,0.5,2.00,0.0,0.3,...,VeriFone Inc,Standard rate,not a store and forward trip,Credit card,Manhattan,Sutton Place/Turtle Bay North,Yellow Zone,Manhattan,East Village,Yellow Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,10/04/2018 07:51:36 AM,10/04/2018 08:09:14 AM,1,3.40,14.5,0.0,0.5,3.05,0.0,0.3,...,Creative Mobile Technologies,Standard rate,not a store and forward trip,Credit card,Manhattan,Union Sq,Yellow Zone,Manhattan,Battery Park City,Yellow Zone
2999996,10/04/2018 07:18:49 AM,10/04/2018 07:34:10 AM,1,0.98,10.5,0.0,0.5,2.63,0.0,0.3,...,VeriFone Inc,Standard rate,not a store and forward trip,Credit card,Manhattan,Garment District,Yellow Zone,Manhattan,East Chelsea,Yellow Zone
2999997,10/04/2018 07:51:28 AM,10/04/2018 08:15:12 AM,1,3.00,16.0,0.0,0.5,3.20,0.0,0.3,...,VeriFone Inc,Standard rate,not a store and forward trip,Credit card,Manhattan,Garment District,Yellow Zone,Manhattan,Central Park,Yellow Zone
2999998,10/04/2018 07:25:36 AM,10/04/2018 07:31:16 AM,5,0.94,5.5,0.0,0.5,1.26,0.0,0.3,...,VeriFone Inc,Standard rate,not a store and forward trip,Credit card,Manhattan,Lenox Hill East,Yellow Zone,Manhattan,Lenox Hill East,Yellow Zone
2999999,10/04/2018 07:39:32 AM,10/04/2018 07:40:25 AM,5,0.26,3.0,0.0,0.5,0.00,0.0,0.3,...,VeriFone Inc,Standard rate,not a store and forward trip,Cash,Manhattan,Yorkville East,Yellow Zone,Manhattan,Yorkville West,Yellow Zone

In [117]:
type(df_muestra['tpep_pickup_datetime'][1])

str